body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


button{
    
    border: none;
    padding: 10px;
    border-radius: 6px;
    width: 130px;
    
}